.container {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
    url("../assets/img1.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
}

.aboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  padding: 2rem;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .aboutContainer {
    height: auto;
    padding: 5rem;
  }
}
